*{
    margin: 0;
    padding: 0;
}
#indexB{
    background-image: url(img/vu-back-2.jpg);
    background-repeat:no-repea;
    background-position: cente;    
}

#cseB{
    background-color: antiquewhite;
}

#logo{
    float: left;
    margin:auto;

 
}
#logo img{
    border-radius:20%;
    border-color: white;
    border-style: solid;
    background-size: cover;
}



#titelname{
 
    background-color: rgb(220, 115, 39);  
    font-size:  230%;
    color: rgb(8, 8, 8);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#info{
    font-size: 10px;
    position: relative;
    color: aliceblue;
    left:.2%;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(63, 63, 63);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar li{
    float: left;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(42, 42, 43);
}




#box1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    width: 180px;
    height: 130px;
    border-style: solid;
    border-radius: 10%;
    border-color:#ecec65;
    position: relative;
    left: 200px;
    top: 70px;
    text-align:center;
    background-image: url(img/eee-collage.jpg);
    background-size:cover ;
}


#box2{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    width: 180px;
    height: 130px;
    border-style: solid;
    border-radius: 10%;
    border-color: rgb(255, 255, 255);
    position: relative;
    left: 500px;
    top: -60px;
    text-align:center;
    background-image: url(img/cse.jpg);
    background-size:cover ;
    
}


#box3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    width: 180px;
    height: 130px;
    border-style: solid;
    border-radius: 10%;
    border-color:  rgb(240, 171, 92);
    position: relative;
    left: 200px;
    top: -0px ;
    text-align:center;
    background-image: url(img/bba.jpg);
    background-size:cover ;
}

#box4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    width: 180px;
    height: 130px;
    border-style: solid;
    border-radius: 10%;
    border-color:rgb(203, 56, 11);
    position: relative;
    left: 500px;
    top: -135px;
    text-align:center;
    background-image: url(img/law.jpg);
    background-size:cover ;
}

#box5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    width: 180px;
    height: 130px;
    text-shadow: 2px 3px rgb(242, 19, 19);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10%;
    border-color: rgb(219, 77, 77);
    position: relative;
    left: 200px;
    top: -70px;
    text-align:center;
    background-image: url(img/phr.png);
    background-size:cover ;
}

#box6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    width: 180px;
    height: 130px;
    border-style: solid;
    border-radius: 10%;
    text-shadow: 2px 3px black;
    border-color:rgb(247, 241, 239);
    position: relative;
    left: 500px;
    top: -200px;
    text-align:center;
    background-image: url(img/eng.webp);
    background-size:cover ;
}
#box7{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    width: 180px;
    height: 130px;
    text-shadow: 2px 3px rgb(44, 40, 40);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10%;
    border-color: rgb(255, 255, 255);
    position: relative;
    left: 200px;
    top: -120px;
    text-align:center;
    background-image: url(img/political.jpg);
    background-size:cover ;
}
#box8{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    width: 180px;
    height: 130px;
    border-style: solid;
    border-radius: 10%;
    text-shadow: 2px 3px rgb(10, 10, 10);
    border-color:rgb(203, 56, 11);
    position: relative;
    left: 500px;
    top: -250px;
    text-align:center;
    background-image: url(img/sosiol.jpg);
    background-size:cover ;
}
/*
#box9{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-shadow: 2px 3px rgb(242, 19, 19);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 100px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 300px;
    top: -40px;
    text-align:center;
    background-image: url(img/phr.png);
    background-size:cover ;
}

#box10{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-shadow: 2px 3px rgb(242, 19, 19);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 100px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 300px;
    top: -40px;
    text-align:center;
    background-image: url(img/phr.png);
    background-size:cover ;
}
*/

